[Desktop Entry]
Name=Hyprland
Comment=Hyprland Wayland compositor (con wrapper)
Exec=__HOME__/dotfiles/hypr/scripts/start-hyprland.sh
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
